<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<div layout:fragment="content" class="container my-3">
<div th:each="imageFile : ${paging} ">
    <img th:src="@{/menu/images/} + ${imageFile.id}" width="360" height="600">
</div>
<a th:href="@{/menu/upload}" sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-primary">메뉴 등록하기</a>
    <div th:if="${!paging.isEmpty()}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                <a class="page-link"
                   th:href="@{|?page=${paging.number-1}|}">
                    <span><</span>
                </a>
            </li>
            <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                <a class="page-link" th:href="@{|?page=${paging.number+1}|}">
                    <span>></span>
                </a>
            </li>
        </ul>
    </div>
</div>
</html>